<!-- The Team Page -->
<!-- This page is linked to in the header and footer -->
<!-- Header Image is stored in app/assets/images-->

<div class="page-header">
	<%= image_tag("http://i1053.photobucket.com/albums/s472/hopealvinstonministries/headerTeam.jpg_zpsy2y0die0.png", :alt =>"H.A.M. Team")%>
</div>

<div class="container">
 
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Abby Mills</h3>
                		<h4>3rd Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Playing bass or reading <br>
											<b>Favourite Camp: </b> <br>PAW’s Drama Camp or Brigden Day Camp <br>
											<b>Favourite Camp Game:</b> <br> Extreme Airport Security <br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“Growing my relationship with God, the other staff members, and the campers.”</em> <br>

                     </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Ryan Breen</h3>
                		<h4>4th Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Playing drums/music, being with friends. <br>
											<b>Favourite Camp: </b> <br>Survivor Adventure Camp, Sydenham Canoe Camp, Choral Camp <br>
											<b>Favourite Camp Skit:</b> <br> The Princess Skit <br>
											<b>Favourite Camp Song:</b> <br> Soccer Mom Anthem, Humpty Dumpty <br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“Working and forming relationships with campers and staff”</em> <br>

                     </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Carissa Smith</h3>
                		<h4>5th Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Reading, Exercise/health <br>
											<b>Favourite Camp: </b> <br>Sydenham Canoe Trip <br>
											<b>Favourite Camp Song:</b> <br> Father Abraham <br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“Growing in all senses of the word.”</em> <br>

                     </p>
                </div>
            </div>
        </div>

        <div class="clearfix" style="padding:15px"></div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Julianne Breen</h3>
                		<h4>6th Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Singing and playing music with people <br>
											<b>Favourite Camp: </b> <br>PAW’s Drama Camp and Survivor Adventure Camp <br>
											<b>Favourite Camp Skit:</b> <br> Soap and Water<br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“I can’t wait to see how God is going to grow and develop the camp staff, campers, and HAM program this summer.”</em> <br>

                     </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Janessa Joosten</h3>
                		<h4>2nd Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Archery, music <br>
											<b>Favourite Camp: </b> <br>Jr. Day Camp or Choral Camp <br>
											<b>Favourite Camp Game:</b> <br>Infiltration <br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“Teaching outdoor skills and sharing God’s word”</em> <br>

                     </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Autumn Bressette</h3>
                		<h4>2nd Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Sports and music <br>
											<b>Favourite Camp: </b> <br>PAW’s Drama Camp, Choral Camp, Hockey Camp <br>
											<b>Favourite Camp Skit:</b> <br>“Jesus is Watching You” Skit <br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“This summer, I’m most excited to meet new campers and learn more about my faith.”</em> <br>

                     </p>
                </div>
            </div>
        </div>

        <div class="clearfix" style="padding:15px"></div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Josh Haves</h3>
                		<h4>3rd Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Music and Sports <br>
											<b>Favourite Camp: </b> <br>Choral Camp <br>
											<b>Favourite Camp Game:</b> <br>Ultimate Frisbee <br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“Meeting new campers and working at new camps.”</em> <br>

                     </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Kiera Smith</h3>
                		<h4>4th Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Snowboarding <br>
											<b>Favourite Camp: </b> <br>Survivor Adventure Camp <br>
											<b>Favourite Camp Song:</b> <br>Da Moose <br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“Creating memories.”</em> <br>

                     </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Patrick Sinclair</h3>
                		<h4>2nd Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Canoeing <br>
											<b>Favourite Camp: </b> <br>Sydenham Canoe Camp <br>
											<b>Favourite Camp Song:</b> <br>“I’m a Little Tea Pot” We will rock you version <br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“This summer I am most looking forward to seeing what God has in store for me involving campers and the staff.”</em> <br>

                     </p>
                </div>
            </div>
        </div>

        <div class="clearfix" style="padding:15px"></div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <div class="card">
                <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                <div class="avatar">
                    <img src="" alt="" />
                </div>
                <div class="content">
                		<h3>Carolyn Armstrong</h3>
                		<h4>1st Year Staff</h4>
                    <p style="padding: 5px">
                      <b>Favourite hobby outside of camp:</b> <br>Reading, singing <br>
											<b>Favourite Camp: </b> <br>PAW’s Drama Camp <br>
											<b>Favourite Camp Song:</b> <br>I Will Not Be Shaken <br>
											<b>What are you most looking forward to this summer?</b> <br>
											<em>“I’m excited to learn so many new things and meet new people and have an awesome summer at camp.”</em> <br>

                     </p>
                </div>
            </div>
        </div>

</div>

<%= image_tag("AbbyProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("Ryan.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("CarissaProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("JulianneProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("JanessaProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("AutumnProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("JoshProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("KieraProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("PatrickProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("CarolynProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>










