<% if user_signed_in? %>
  <%= link_to 'New Picture', new_picture_path %>
<%end%>

<div id="pictures" class="transitions-enabled">
  <% @pictures.each do |picture| %>
    <div class="box panel panel-default">
      <%= image_tag picture.image.url(:medium) =%>
      <div class="panel-body">
        <%= picture.description %>
        <%= picture.user.email if picture.user %>
        <%= link_to 'Show', picture %>
        <% if picture.user == current_user %>
          <%= link_to 'Edit', edit_picture_path(picture) %>
          <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div>
    </div>
  <% end %>
</div>
 

