<% if user_signed_in? %>
  <%= link_to 'New Picture', new_picture_path, class: "btn btn-primary" %>
<%end%>

<div id="pictures" class="transitions-enabled">
  <% @pictures.each do |picture| %>
    <div class="box panel panel-default">
      <div class="panel-body">
        <%= image_tag picture.image.url(:medium) =%>
      </div>
      <div class="panel-footer">
        <%= picture.description %></br>
        <% if picture.user == current_user or current_user.try(:admin?)%>
          <%= picture.user.email if picture.user %></br>
          <%= link_to 'Edit', edit_picture_path(picture) %>
          <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></br>
        <%end%>
        <%= link_to 'Show', picture %>
      </div>
    </div>
  <% end %>
</div>
 

