<footer class="site-footer">
	<div class="container">

		<div class ="top-footer"> 
			<div class= "footer-column logo">
					<%= image_tag("logo.png", :size => "130x130",:alt =>"Hope Alvinston Ministries Logo")%>
			</div>	
			<div class= "footer-column">
				<h4>Contact Address</h4>
					<address>
						Hope Alvinston Ministries<br>
						P.O. Box #63,<br>
						Alvinston, Ontario,<br>
						N0N 1A0
					</address>
			</div>	
			<div class= "footer-column">
				<h4>Our Sponsors</h4>
				<ul>
						<li><a href="http://alvinstonoptimist.com/"  target="_blank">Alvinston</a> &
						<a href="http://watfordoptimist.com/"  target="_blank">Watford</a> Optimists Clubs</li>
						<li><a href="http://wcfoundation.ca/recipients.html"  target="_blank">Westminister College Foundation</a></li>
						<li><a href="http://thehaytergroup.com/"  target="_blank">Hayter Plumbing & Heating</a></li>
						<li><a href="http://www.alvinstonfiredept.com/"  target="_blank">Alvinston Fire Fighters</a></li>
						<li><a href="https://www.libro.ca/Community/Grants/Recipients.aspx" target="blank">Libro Credit Union</a></li>
				</ul>
			</div>						
		</div> 
		
		<div class="bottom-footer">
		<!--Links to Other Pages that sit at the very bottom of the footer -->
			<ul class="footer-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Our Mission", about_path %></li>
        <li><%= link_to "Camps", camps_path %></li>
        <li><%= link_to "Team", team_path %></li>
        <li><%= link_to "Pictures", pictures_path %></li>
      </ul>
		</div>

	</div>
</footer>