<nav class="navbar navbar-static-top navbar-default">
  <div class="container">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">H.A.M.</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Our Mission", about_path %></li>
        <li><%= link_to "Camps", camps_path %></li>
        <li><%= link_to "Team", team_path %></li>
        <li><%= link_to "Pictures", pictures_path %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li> 
        <%else%>
          <li><%= link_to "Staff Sign In",  new_user_session_path %></li> 
        <% end %>

        <% if current_user.try(:admin?) %>
          <li><%= link_to "Manage Users", about_path %></li> 
        <% end%>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div>
  </div><!-- /.container-fluid -->
  </div>
</nav>