

<section>
	<div class="slider">
		<div class="slide-viewer">
			<div class="slide-group">
				<div class="slide slide-1">
					<%= image_tag("headerIm-1.png", :alt =>"Day Camp Canoeing")%>
				</div>
				<div class="slide slide-2">
					<%= image_tag("headerIm-2.png", :alt =>"Crafts")%>
				</div> 
				<div class="slide slide-3">
					<%= image_tag("headerIm-3.jpg", :alt =>"Science Camp")%>
				</div>
				<div class="slide slide-4">
					<%= image_tag("headerIm-4.jpg", :alt =>"Cooking Camp")%>
				</div>
				<div class="slide slide-5">
					<%= image_tag("headerIm-5.jpg", :alt =>"Sydenham Canoeing")%>
				</div>
				<div class="slide slide-6">
					<%= image_tag("headerIm-6.png", :alt =>"Day Camp")%>
				</div>
			</div>
		</div>
		<div class="slide-buttons"></div>
	</div>
	
</section>