<!DOCTYPE html>
<html>
	<head>
	  <title>HAM</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta name="title" content="Hope Alvinston Ministries"/>
	  <meta name="description" content="All the information you need about Hope Alvinston Ministiries and our summer camp offerings"/>
	  <meta name="robots" content="index,follow"/>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<%=render 'layouts/header'%>
			</div>
			<div id="content">
				<div class="container">
					<% flash.each do |name, msg| %>
			     <%= content_tag(:div, msg, class: "alert alert-info") %>
					<% end %>
					<%= yield %>
				</div>
			</div>
			<div id="footer">
				<%=render 'layouts/footer'%>
			</div>
		</div>
	</body>
</html>
